on early-init
    # boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "performance"

    write /proc/sys/kernel/sched_pelt_multiplier 1

on init
    # Make foreground and background I/O priority different. none-to-rt was
    # introduced in kernel 5.14. promote-to-rt was introduced in kernel 6.5.
    # Write none-to-rt first and promote-to-rt next to support both older and
    # newer kernel versions.
    write /dev/blkio/blkio.prio.class none-to-rt
    write /dev/blkio/blkio.prio.class promote-to-rt

    # F2FS
    write /dev/sys/fs/by-name/userdata/data_io_flag 56
    write /dev/sys/fs/by-name/userdata/node_io_flag 56

    # Block
    write /dev/sys/block/by-name/rootdisk/queue/iostats 0
    write /dev/sys/block/by-name/rootdisk/queue/nr_requests 256

    # UFS
    write /sys/devices/platform/soc/112b0000.ufshci/clkgate_enable 0

    # Set teo as cpu idle governor
    write /sys/devices/system/cpu/cpuidle/current_governor teo

    # update cpus for cpuset cgroup
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground_window/cpus 0-5
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-7

    # sched
    write /proc/sys/kernel/sched_migration_cost_ns 250000
    write /proc/sys/kernel/sched_latency_ns 4000000
    write /proc/sys/kernel/sched_min_granularity_ns 500000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000

on charger
    # UFS
    write /sys/devices/platform/soc/112b0000.ufshci/clkgate_enable 1

    # Keep one LITTLE and one big
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    # F2FS
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8
    write /dev/sys/fs/by-name/userdata/max_io_bytes 524288
    write /dev/sys/fs/by-name/userdata/min_hot_blocks 0

    # Block
    write /dev/sys/block/by-name/rootdisk/queue/iostats 1
    write /dev/sys/block/by-name/rootdisk/queue/nr_requests 128
    write /dev/sys/block/by-name/rootdisk/queue/rq_affinity 2

on post-fs-data
    # multi-gen LRU
    write /sys/kernel/mm/lru_gen/enabled y

    # zram
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

    # memory reserve tuning
    write /proc/sys/vm/min_free_kbytes 27386
    write /proc/sys/vm/lowmem_reserve_ratio "0 0 0"

    # disable khugepaged
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    # Disable multiple kswapd threads
    write /proc/sys/vm/kswapd_threads 1

    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/nr_requests 256

on boot
    # boot perf. tune
    write /dev/cpuctl/rt/cpu.uclamp.min 100
    write /dev/cpuctl/rt/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/system-background/cpu.uclamp.min 100
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 100
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 100
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 100
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.min 100
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 1

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/nr_requests 64
    write /sys/block/sdc/queue/nr_requests 64

    # UFS
    write /sys/devices/platform/soc/112b0000.ufshci/clkgate_enable 1

    # F2FS
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8
    write /dev/sys/fs/by-name/userdata/max_io_bytes 524288
    write /dev/sys/fs/by-name/userdata/min_hot_blocks 0

    # Block
    write /dev/sys/block/by-name/rootdisk/queue/iostats 1
    write /dev/sys/block/by-name/rootdisk/queue/nr_requests 128
    write /dev/sys/block/by-name/rootdisk/queue/rq_affinity 2

    # zram
    swapon_all /vendor/etc/fstab.enableswap
    write /proc/sys/vm/swappiness 60

    # Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 200

    # restore boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"

    # dex2oat settings
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6

    # Utilization Clamping
    # Tuning
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0
    write /proc/sys/kernel/sched_util_clamp_min 128

    # rt
    write /dev/cpuctl/rt/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/rt/cpu.uclamp.max max
    write /dev/cpuctl/rt/cpu.uclamp.min 0
    write /dev/cpuctl/rt/cpu.shares 20480

    # system
    write /dev/cpuctl/system/cpu.shares 20480

    # system-background
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.max 50
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.shares 1024

    # background
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.shares 1024

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.max 80
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.shares 20480

    # foreground_window
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.max 80
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 0
    write /dev/cpuctl/foreground_window/cpu.shares 10240

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 0
    write /dev/cpuctl/top-app/cpu.shares 20480

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 90
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 70
    write /dev/cpuctl/camera-daemon/cpu.shares 20480

    # dex2oat
    write /dev/cpuctl/dex2oat/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 60
    write /dev/cpuctl/dex2oat/cpu.uclamp.min 0
    write /dev/cpuctl/dex2oat/cpu.shares 512

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service vendor.hwcomposer-3-2 /vendor/bin/hw/android.hardware.graphics.composer@3.2-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override

service vendor.gralloc-v2 /vendor/bin/hw/android.hardware.graphics.allocator-V2-service-mediatek
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    onrestart restart vendor.hwcomposer-3-2
    onrestart restart camerahalserver
    task_profiles ProcessCapacityHigh HighPerformance
    override
